<% content_for(:title, "Forecast for #{bulletin.location}") %>

<article>
  <header>
    <h1><%= bulletin.location %></h1>
    <h2><%= l(bulletin.date, format: '%A').capitalize %></h2>
  </header>

  <p>
    <span class="weather"><%= bulletin.weather %></span>
    <span class="temperature"><%= bulletin.temperature %></span>
    <span class="wind"><%= bulletin.wind %></span>
  </p>
</article>
