<h1><%= bulletin.location %></h1>
<h2><%= gfs.time.strftime('%B %d') %></h2>

<p class="weather"><%= bulletin.weather %></p>
<p class="temperature"><%= bulletin.temperature %></p>
<p class="wind"><%= bulletin.wind %></p>
