<% content_for(:title, "Forecast for #{bulletin.location.city}, #{bulletin.location.country}") %>

<article>
  <header>
    <h1><%= bulletin.location.city %></h1>
    <% if bulletin.date == Date.today %>
      <h2><%= t('date.today').capitalize %></h2>
    <% else %>
      <h2><%= l(bulletin.date, format: '%A').capitalize %></h2>
    <% end %>
  </header>

  <p class="lead day"><%= bulletin.day %></p></p>
  <p class="night"><%= bulletin.night %></p>
  <p class="morning"><%= bulletin.morning %></p>
  <p class="afternoon"><%= bulletin.afternoon %></p>
  <p class="evening"><%= bulletin.evening %></p>
</article>
