<% content_for(:title, "Forecast for #{bulletin.location.city}, #{bulletin.location.country}") %>

<article>
  <header>
    <h1><%= bulletin.location.city %></h1>
    <% if bulletin.date == Date.today %>
      <h2><%= t('date.today').capitalize %></h2>
    <% else %>
      <h2><%= l(bulletin.date, format: '%A').capitalize %></h2>
    <% end %>
  </header>

  <p class="lead">
    <span class="weather"><%= bulletin.weather %></span>
    <span class="temperature"><%= bulletin.temperature %></span>
    <span class="wind"><%= bulletin.wind %></span>
  </p>
</article>
