<% content_for(:title, "Forecast for #{bulletin.location}") %>
<h1><%= bulletin.location %></h1>
<h2><%= bulletin.date.strftime('%A, %B %d') %></h2>

<p class="weather"><%= bulletin.weather %></p>
<p class="temperature"><%= bulletin.temperature %></p>
<p class="wind"><%= bulletin.wind %></p>
